{% extends "layout.html" %}

{% block content %}
    <h1>Forbidden access</h1>
    <p>You don't have the right to be here.</p>
    <p><a href="{{ url_for('index') }}">Go to home</a></p>
{% endblock %}