{% extends "layout.html" %}

{% block content %}
    <h1>Page not found</h1>
    <p>What you were looking for is just not there.</p>
    <p><a href="{{ url_for('index') }}">Go to home</a></p>
{% endblock %}