{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">

    <form id="addSongFdorm" class="form-horizontal" action="" method="POST">
    <fieldset>

    <!-- Form Name -->
    <legend>Formulaire d'ajout de musique</legend>

    <!-- Prepended text-->
    <div class="form-group">
            <label class="col-md-4 control-label" for="prependedtext">Entrez l'url complète du lien youtube</label>
            <div class="col-md-4">
                <div class="input-group">
                    {{ form.url(class="form-control", placeholder="https://www.youtube.com/watch?v=Fbli6Ie_-os", type="text", id="prependedtext", size=50) }}
                </div>
            </div>
    </div>
    <div class="form-group">
        <button type="submit" id="button1id" name="button1id" class="btn btn-success btn-lg">Ajouter</button>
    </div>

    </fieldset>
    </form>
    </div>

{% endblock %}