{% extends "layout.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h2>SKUUU {{ random_prefix }} {{ current_user.nickname }} !</h2>
        <p>
            <h3>Que souhaitez vous faire ?</h3>
            <a href="{{ url_for('add_song') }}"><button class="btn btn-success">Ajouter une musique</button></a>
            <a href="{{ url_for('random_url_song') }}"><button class="btn btn-info">Random</button></a>
        </p>
    {% else %}
        <h2>Hey Anonyme, pourquoi ne pas <a href="{{ url_for('register') }}">s'enregistrer ?</a></h2>
    {% endif %}

    {% for song in songs %}
        <div class="container text-left">
            <blockquote id="post"> <img src="http://img.youtube.com/vi/{{ song.url }}/default.jpg">
                <span class="nowrap">
                    <a href="https://youtube.com/watch?v={{ song.url }}">{{ song.name|split_string_after }}</a> - {{ song.timestamp|posted_at }}
                    <em>par</em> <a href=" {{ url_for('user_per_nickname', nickname=song.author.nickname) }}">{{ song.author.nickname }}</a>
                    <p>
                        <button class="btn btn-success">42<i class="fa fa-thumbs-up" aria-hidden="true"></i> </button>
                        <button class="btn btn-danger">20<i class="fa fa-thumbs-down" aria-hidden="true"></i> </button>
                    </p>
                    <p>
                        <a href="{{ url_for('download_youtube_mp3', url=song.url) }}"><button type="button" class="btn btn-warning" disabled>Télécharger</button></a>
                    </p>
                </span>
            </blockquote>
        </div>
        <hr>
    {% endfor %}
{% endblock %}