{% extends "layout.html" %}



{% block content %}
    <div class="container">
			<div class="row main">
				<div class="main-login main-center">
					<form class="form-horizontal" method="POST" action="">
                        {{ form._csrf_token }}
						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Adresse Mail</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									{{ form.email(class="form-control", id="email", placeholder="Entrez votre email") }}
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Mot de passe</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    {{ form.password(type="password", class="form-control", id="Password", placeholder="Entrez votre mot de passe") }}
								</div>
							</div>
						</div>

						<div class="form-group ">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Connexion</button>
                            <h4>Pas de compte ? Cliquez <a href="{{ url_for('register') }}">ici</a> pour vous enregistrer</h4>
						</div>
					</form>
				</div>
			</div>
		</div>
{% endblock %}
