{% extends "layout.html" %}

{% block content %}
    <div class="container">
			<div class="row main">
				<div class="main-login main-center">
					<form class="form-horizontal" method="POST" action="">
                        {{ form._csrf_token }}
                        <div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Nom d'utilisateur</label>
							<div class="cols-sm-8">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                    {{ form.nickname(type="text", class="form-control", id="nickname", placeholder="Entrez un nom d'utilisateur") }}
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Adresse Mail</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									{{ form.email(class="form-control", id="email", placeholder="Entrez votre email") }}
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Mot de passe</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    {{ form.password(type="password", class="form-control", id="Password", placeholder="Entrez votre mot de passe") }}
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirmation de mot de passe</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    {{ form.confirm(type="password", class="form-control", id="confirm", placeholder="Confirmez votre mot de passe") }}
								</div>
							</div>
						</div>

						<div class="form-group ">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">S'enregistrer</button>
                            <h4>Vous avez déjà un compte ? Cliquez <a href="{{ url_for('login') }}">ici</a> pour vous connecter</h4>
						</div>
					</form>
				</div>
			</div>
		</div>
{% endblock %}
