{% extends "layout.html" %}

{% block content %}
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Avatar</th>
            <th>Nom</th>
            <th>Nombre de musiques postée</th>
            <th>Nombre de followers</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td class="text-left"><a href=" {{ url_for('user_per_nickname', nickname=user.nickname) }}"><img src=" {{ user.email | gravatar(size=50) }} " alt="{{ user.nickname }}"></a></td>
            <td class="text-left">{{ user.nickname }}</td>
            <td class="text-left">{{ user.songs.count() }}</td>
            <td class="text-left">{{ user.followers.count() }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}