{% extends "layout.html" %}

{% block content %}
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>{{ user.nickname }}</h2>
                    <p><strong>Préférences: </strong>
                        <span class="tags">Trap</span>
                        <span class="tags">Rap</span>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <figcaption class="profile_picture">
                            <p><img src=" {{ user.email | gravatar(size=50) }} " alt="{{ user.nickname }}"></p>
                        </figcaption>
                    </figure>
                </div>
            </div>
             <div class="col-xs-12 divider text-center">
                    {% for song in songs %}
                        <p class="text-left">
                            <span class="nowrap">
                                <img src="http://img.youtube.com/vi/{{ song.url }}/default.jpg">
                                <a href="https://youtube.com/watch?v={{ song.url }}">{{ song.name|split_string_after }}</a> -
                                {{ song.timestamp|posted_at }}
                                <em>par</em> <a href=" {{ url_for('user_per_id', id=song.user_id) }}">{{ user.nickname }}</a>
                                {% if current_user == user %}
                                    <a href="{{ url_for('remove_song', id=song.id) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>
                                {% endif %}
                            </span>
                        </p>
                    {% endfor %}
                    <p>
                        {{ user.followers.count() }} followers | {{ user.followed.count() }} followed
                        {% if not current_user.is_following(user) %}
                            <a href="{{ url_for('follow', nickname=user.nickname) }}"><button class="btn btn-success">Follow</button></a>
                        {% else %}
                            <a href="{{ url_for('unfollow', nickname=user.nickname) }}"><button class="btn btn-danger">Unfollow</button></a>
                        {% endif %}
                    </p>
                    <p><a href="{{ url_for('index') }}">Retour à l'index</a></p>
             </div>
    	 </div>
{% endblock %}